		<% include ../partials/header %>
		<div class="wrapper">
			<div class="side"></div>
			<div class="show"><h1>All Threads</h1>
				<% if(threads.length > 0) {%>
				<% var commentNo = comments.length - 1;%>
				<% var threadNo = threads.length - 1;%>
				<% var usedThreads = [];%>
				<% var j;%>
				<% for(var j = counter[0].totalPosts; j > 0; j--) {%>
					<% if(comments.length > 0 && comments[commentNo].postNo == j) {%>
						<% var threadCount = counter[0].threadCounter;%>
						<% var threadIndex = threadCount.indexOf(comments[commentNo].threadNo);%>
						<% if(!usedThreads.includes(threadIndex) && threadIndex >= 0) {%>
							<% var thread = threads[threadIndex];%>	
							<div class="thread hidden">
								<% var size = (thread.size/1000).toFixed(1);%>
								<% if(size>1000) {%>
									<% size = (size/1000).toFixed(1);%>
									<% var unit = "MB";%>
								<% } else { var unit = "KB"; }%>
								<span>File: <a href="/img/<%=thread.myimage%>"><%= thread.filename%></a> (<%=thread.width%>x<%=thread.height%>, <%=size%> <%=unit%>)</span><br>
								<% var number = thread.size%>
								<a href="/img/<%= thread.myimage%>"><img src="/uploads/<%= thread.myimage%>" class="img-thumbnail" style="float:left;"></a></i>
								<span>
									<% if(thread.author == "") {thread.author = "Anonymous";}%> 
									<span class="subject"><%= thread.name%></span>
									<span class="author"><%= thread.author%></span>
									<em><%= thread.date %></em>
									<a href="/threads/<%=thread._id%>/#p<%=thread.postNo%>">No.<%= thread.postNo%></a>
									<a href="/threads/<%= thread._id%>" class="btn btn-primary vthread">View Thread</a>
								</span><br>
								<p class="desc"><%=thread.description %></p>
								
								<% var replyNum = thread.comments.length - 4;%>
								<% if(replyNum > 0) { %>
									<button class="far fa-plus-square expand"></button>
									<span class="omitReply" data-replynum="<%=replyNum%>"><%=replyNum%> replies omitted</span>
								<% } %>
								<% var i = (/*thread.comments.length - 4*/ 0); 
							if(i < 0) {i = 0; } %>
							<% for(i; i < thread.comments.length; i++) {%>
							<div class="reply">
									<% var comment = thread.comments[i]%>
								<% if(comment.image) {%>
									<a href="/img/<%= comment.image%>"><img src="/uploads/<%=comment.image%>" class="img-thumbnail" style="float:left;"></a></i>
								<% } %>
								<span>
									<% if(comment.author == "") {comment.author = "Anonymous";}%>
									<span class="author"><%= comment.author%></span>
									<em><%= comment.date%></em>
									<a href="/threads/<%=thread._id%>/#p<%=comment.postNo%>">No.<%= comment.postNo%></a>
									<form class="vthread" action="/threads/<%=thread._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
										<% if(currentUser) {%>
											<button class="fas fa-trash-alt"></button>
										<% } %>
									</form>
								</span>
								<p class="desc" id=<%=thread._id%>><%=comment.description %></p>
							</div>
							<% } %>
							
							</div>
							<hr>

							<% usedThreads.push(threadIndex);%>
						<% } %>
						<% if(commentNo != 0) {commentNo--;} %>
					<% } else if(threads[threadNo].postNo == j){%>
						<% console.log("thread route "+j);%>
						<% if(!usedThreads.includes(threadNo)) {%>
							<% var thread = threads[threadNo];%>
							<div class="thread">
								<% var size = (thread.size/1000).toFixed(1);%>
								<% if(size>1000) {%>
									<% size = (size/1000).toFixed(1);%>
									<% var unit = "MB";%>
								<% } else { var unit = "KB"; }%>
								<span>File: <a href="/img/<%=thread.myimage%>"><%= thread.filename%></a> (<%=thread.width%>x<%=thread.height%>, <%=size%> <%=unit%>)</span><br>
								<% var number = thread.size%>
								<% console.log("kb size is "+(number/1000).toFixed(1));%>
								<a href="/img/<%= thread.myimage%>"><img src="/uploads/<%= thread.myimage%>" class="img-thumbnail" style="float:left;"></a></i>
								<span>
									<% if(thread.author == "") {thread.author = "Anonymous";}%> 
									<span class="subject"><%= thread.name%></span>
									<span class="author"><%= thread.author%></span>
									<em><%= thread.date %></em>
									<a href="/threads/<%=thread._id%>/#p<%=thread.postNo%>">No.<%= thread.postNo%></a>
									<a href="/threads/<%= thread._id%>" class="btn btn-primary vthread">View Thread</a>
								</span><br>
								<p class="desc"><%=thread.description %></p>

							</div>
							<hr>
							<% usedThreads.push(threadNo);%>
						<% } %>
						<% if(threadNo != 0) {threadNo--;} %>
					<% }%>
				<% }%>
				<div id="qreply" class="hide">
					Reply to Thread<span id="creply" class="vthread">X</span>
					<form action="/threads/<%= thread._id%>/comments" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Anonymous" id="name" name="author">
						</div>
						<div class="form-group">
							<input class="form-control" type="file" id="image" name="image">
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="5" id="desc" name="description" placeholder="Comment" required></textarea>
						</div>
						<button class="btn btn-lg btn-primary btn-block">Submit</button>
					</form>
				</div>
				<% } %>
			</div>
		</div>
		<script src="/scripts/links.js"></script>